node-red/twilio-kafka.json
[{"id":"29f78f83.1ccec","type":"tab","label":"Twilio-to-Kafka","disabled":false,"info":""},{"id":"e282d675.a44e68","type":"http in","z":"29f78f83.1ccec","name":"Twilio Input","url":"/message","method":"post","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["3c16f130.2418ee","647fff2b.175fc"]]},{"id":"ec3fb04e.a8d8c","type":"http response","z":"29f78f83.1ccec","name":"Response","statusCode":"200","headers":{"content-type":"application/xml"},"x":840,"y":220,"wires":[]},{"id":"3e9b2461.0def4c","type":"http request","z":"29f78f83.1ccec","name":"Post Kafka Message","method":"POST","ret":"obj","paytoqs":false,"url":"http://kafka-bridge-route-rvr.apps.cluster-avaya-fb13.avaya-fb13.example.opentlc.com/topics/twilio-in","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":120,"wires":[["647fff2b.175fc","c8f4444d.46f238"]]},{"id":"cfd94c3b.2b894","type":"function","z":"29f78f83.1ccec","name":"Set Content type","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/vnd.kafka.json.v2+json';\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["3e9b2461.0def4c"]]},{"id":"647fff2b.175fc","type":"debug","z":"29f78f83.1ccec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":40,"wires":[]},{"id":"3c16f130.2418ee","type":"change","z":"29f78f83.1ccec","name":"Set Twilio Message","rules":[{"t":"move","p":"payload.MessageSid","pt":"msg","to":"payload.records[0].key","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.records[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":180,"wires":[["cfd94c3b.2b894","647fff2b.175fc"]]},{"id":"c8f4444d.46f238","type":"function","z":"29f78f83.1ccec","name":"Create Twilio Response","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/xml';\nmsg.payload = \"<Response> <Message>We got your message, thank you!</Message></Response>\"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":140,"wires":[["ec3fb04e.a8d8c"]]}]